openapi: 3.0.3
info:
  title: Chime Partner Authentication Transactions API
  description: 'The Chime Partner API provides programmatic access to Chime user account information, transactions, account balances, statements, and payment initiation. Authentication is handled via OAuth 2.0 with support for Authorization Code Flow and PKCE (Proof Key for Code Exchange).

    '
  version: 1.0.0
  contact:
    url: https://developer.chime.com/
  x-api-status: production
servers:
- url: https://api.chimebank.com/chime/v1
  description: Chime Partner API Production Server
security:
- BearerAuth: []
tags:
- name: Transactions
  description: Access transaction history
paths:
  /users/{id}/accounts/{account_id}/transactions:
    get:
      operationId: getAccountTransactions
      summary: Get account transactions
      description: Resource for accessing transactions for the given bank account.
      tags:
      - Transactions
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the Chime user
        schema:
          type: string
      - name: account_id
        in: path
        required: true
        description: Unique identifier for the bank account
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        description: Bearer access token obtained via OAuth 2.0
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9...
      - name: page
        in: query
        required: false
        description: Page number for paginated results
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Number of transactions per page
        schema:
          type: integer
          default: 25
          maximum: 100
      - name: from_date
        in: query
        required: false
        description: Filter transactions from this date (ISO 8601)
        schema:
          type: string
          format: date
      - name: to_date
        in: query
        required: false
        description: Filter transactions to this date (ISO 8601)
        schema:
          type: string
          format: date
      responses:
        '200':
          description: List of transactions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
        '401':
          description: Unauthorized - invalid or expired access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User or account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    TransactionList:
      type: object
      description: Paginated list of transactions
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        page:
          type: integer
          description: Current page number
        per_page:
          type: integer
          description: Number of results per page
        total:
          type: integer
          description: Total number of transactions matching the query
    Transaction:
      type: object
      description: A single transaction record
      properties:
        id:
          type: string
          description: Unique identifier for the transaction
        account_id:
          type: string
          description: ID of the account the transaction belongs to
        amount:
          type: number
          format: double
          description: Transaction amount (negative for debits, positive for credits)
        description:
          type: string
          description: Merchant or transaction description
        date:
          type: string
          format: date
          description: Date the transaction posted (ISO 8601)
        type:
          type: string
          description: Type of transaction
          enum:
          - debit
          - credit
          - transfer
        status:
          type: string
          description: Settlement status
          enum:
          - pending
          - posted
        merchant_name:
          type: string
          description: Name of the merchant
        category:
          type: string
          description: Transaction category
    Error:
      type: object
      description: Standard API error response
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        status:
          type: integer
          description: HTTP status code
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token
