openapi: 3.0.3
info:
  title: Chime Partner API
  description: >
    The Chime Partner API provides programmatic access to Chime user account
    information, transactions, account balances, statements, and payment
    initiation. Authentication is handled via OAuth 2.0 with support for
    Authorization Code Flow and PKCE (Proof Key for Code Exchange).
  version: 1.0.0
  contact:
    url: https://developer.chime.com/
  x-api-status: production
servers:
  - url: https://api.chimebank.com/chime/v1
    description: Chime Partner API Production Server

security:
  - BearerAuth: []

tags:
  - name: Users
    description: Access user account information
  - name: Accounts
    description: Access bank account details and balances
  - name: Transactions
    description: Access transaction history
  - name: Statements
    description: Access account statements
  - name: OAuth
    description: OAuth 2.0 authorization and token management
  - name: Authentication
    description: Legacy partner authentication

paths:
  /users/{id}:
    get:
      operationId: getUser
      summary: Get user account information
      description: Resource for accessing the user's account information including linked bank accounts.
      tags:
        - Users
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the Chime user
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          description: Bearer access token obtained via OAuth 2.0
          schema:
            type: string
            example: Bearer eyJhbGciOiJSUzI1NiJ9...
      responses:
        '200':
          description: User account information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized - invalid or expired access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/{id}/accounts/{account_id}/transactions:
    get:
      operationId: getAccountTransactions
      summary: Get account transactions
      description: Resource for accessing transactions for the given bank account.
      tags:
        - Transactions
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the Chime user
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Unique identifier for the bank account
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          description: Bearer access token obtained via OAuth 2.0
          schema:
            type: string
            example: Bearer eyJhbGciOiJSUzI1NiJ9...
        - name: page
          in: query
          required: false
          description: Page number for paginated results
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: per_page
          in: query
          required: false
          description: Number of transactions per page
          schema:
            type: integer
            default: 25
            maximum: 100
        - name: from_date
          in: query
          required: false
          description: Filter transactions from this date (ISO 8601)
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          required: false
          description: Filter transactions to this date (ISO 8601)
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of transactions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
        '401':
          description: Unauthorized - invalid or expired access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User or account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/{id}/accounts/{account_id}/statement:
    get:
      operationId: getAccountStatement
      summary: Get account statement
      description: Resource for accessing periodic statements for the given bank account.
      tags:
        - Statements
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the Chime user
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Unique identifier for the bank account
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          description: Bearer access token obtained via OAuth 2.0
          schema:
            type: string
            example: Bearer eyJhbGciOiJSUzI1NiJ9...
        - name: year
          in: query
          required: false
          description: Statement year (YYYY)
          schema:
            type: integer
        - name: month
          in: query
          required: false
          description: Statement month (1-12)
          schema:
            type: integer
            minimum: 1
            maximum: 12
      responses:
        '200':
          description: Account statement retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statement'
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized - invalid or expired access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Statement not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /oauth/authorize:
    get:
      operationId: oauthAuthorize
      summary: Initiate OAuth 2.0 Authorization
      description: >
        Initiates the OAuth 2.0 Authorization Code Flow with optional PKCE
        support. Redirects the user to the Chime authorization page.
      tags:
        - OAuth
      security: []
      parameters:
        - name: response_type
          in: query
          required: true
          description: Must be "code" for Authorization Code Flow
          schema:
            type: string
            enum:
              - code
        - name: client_id
          in: query
          required: true
          description: Your application's client identifier
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: true
          description: URI to redirect to after authorization
          schema:
            type: string
            format: uri
        - name: scope
          in: query
          required: false
          description: Space-separated list of requested scopes
          schema:
            type: string
        - name: state
          in: query
          required: false
          description: Opaque value to maintain state between request and callback
          schema:
            type: string
        - name: code_challenge
          in: query
          required: false
          description: PKCE code challenge (Base64-URL-encoded SHA-256 hash of the code verifier)
          schema:
            type: string
        - name: code_challenge_method
          in: query
          required: false
          description: Method used to generate the code challenge
          schema:
            type: string
            enum:
              - S256
      responses:
        '302':
          description: Redirect to Chime authorization page
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /oauth/tokens:
    post:
      operationId: oauthToken
      summary: Exchange authorization code for tokens
      description: >
        Exchange an authorization code for an access token and refresh token,
        or refresh an existing access token using a refresh token.
      tags:
        - OAuth
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: '#/components/schemas/AuthorizationCodeRequest'
                - $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token exchange successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Bad request - invalid grant or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
        '401':
          description: Unauthorized - invalid client credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'

  /users/auth_token:
    post:
      operationId: signIn
      summary: Sign in and obtain auth token (Legacy)
      description: >
        Legacy authentication endpoint. Returns an auth_token for use with
        legacy API calls. Not recommended for new integrations; use OAuth 2.0 instead.
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegacySignInRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyAuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: signOut
      summary: Invalidate auth token (Legacy)
      description: >
        Legacy endpoint to invalidate an existing auth_token (logout).
        Not recommended for new integrations; use OAuth 2.0 instead.
      tags:
        - Authentication
      parameters:
        - name: client_id
          in: query
          required: true
          description: Your application's client identifier
          schema:
            type: string
        - name: secret
          in: query
          required: true
          description: Your application's client secret
          schema:
            type: string
        - name: auth_token
          in: query
          required: true
          description: The auth token to invalidate
          schema:
            type: string
      responses:
        '200':
          description: Token invalidated successfully
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token

  schemas:
    User:
      type: object
      description: Chime user with linked bank accounts
      properties:
        id:
          type: string
          description: Unique identifier for the user
        email:
          type: string
          format: email
          description: User's email address
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
          description: List of linked bank accounts

    Account:
      type: object
      description: Chime bank account details
      properties:
        id:
          type: string
          description: Unique identifier for the account
        type:
          type: string
          description: Type of bank account
          enum:
            - checking
            - savings
            - secured_credit
        name:
          type: string
          description: Display name of the account
        balance:
          type: number
          format: double
          description: Available balance (excludes holds)
        routing_number:
          type: string
          description: ABA routing number
          pattern: '^\d{9}$'
        account_number:
          type: string
          description: Bank account number
        status:
          type: string
          description: Current status of the account
          enum:
            - active
            - inactive
            - pending

    Transaction:
      type: object
      description: A single transaction record
      properties:
        id:
          type: string
          description: Unique identifier for the transaction
        account_id:
          type: string
          description: ID of the account the transaction belongs to
        amount:
          type: number
          format: double
          description: Transaction amount (negative for debits, positive for credits)
        description:
          type: string
          description: Merchant or transaction description
        date:
          type: string
          format: date
          description: Date the transaction posted (ISO 8601)
        type:
          type: string
          description: Type of transaction
          enum:
            - debit
            - credit
            - transfer
        status:
          type: string
          description: Settlement status
          enum:
            - pending
            - posted
        merchant_name:
          type: string
          description: Name of the merchant
        category:
          type: string
          description: Transaction category

    TransactionList:
      type: object
      description: Paginated list of transactions
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        page:
          type: integer
          description: Current page number
        per_page:
          type: integer
          description: Number of results per page
        total:
          type: integer
          description: Total number of transactions matching the query

    Statement:
      type: object
      description: Account statement summary
      properties:
        account_id:
          type: string
          description: ID of the account the statement belongs to
        period_start:
          type: string
          format: date
          description: Start date of the statement period
        period_end:
          type: string
          format: date
          description: End date of the statement period
        opening_balance:
          type: number
          format: double
          description: Balance at start of period
        closing_balance:
          type: number
          format: double
          description: Balance at end of period
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
          description: Transactions included in this statement
        download_url:
          type: string
          format: uri
          description: URL to download statement as PDF

    AuthorizationCodeRequest:
      type: object
      required:
        - grant_type
        - code
        - redirect_uri
        - client_id
      properties:
        grant_type:
          type: string
          enum:
            - authorization_code
        code:
          type: string
          description: Authorization code received from the authorization endpoint
        redirect_uri:
          type: string
          format: uri
          description: Must match the redirect_uri used in the authorization request
        client_id:
          type: string
          description: Your application's client identifier
        client_secret:
          type: string
          description: Your application's client secret
        code_verifier:
          type: string
          description: PKCE code verifier (if code_challenge was used)

    RefreshTokenRequest:
      type: object
      required:
        - grant_type
        - refresh_token
        - client_id
      properties:
        grant_type:
          type: string
          enum:
            - refresh_token
        refresh_token:
          type: string
          description: Refresh token from a previous token exchange
        client_id:
          type: string
          description: Your application's client identifier
        client_secret:
          type: string
          description: Your application's client secret

    TokenResponse:
      type: object
      description: OAuth 2.0 token response
      properties:
        access_token:
          type: string
          description: Access token for making API requests
        token_type:
          type: string
          description: Token type (always "Bearer")
          enum:
            - Bearer
        expires_in:
          type: integer
          description: Number of seconds until the access token expires
        refresh_token:
          type: string
          description: Refresh token for obtaining new access tokens
        scope:
          type: string
          description: Space-separated list of granted scopes

    OAuthError:
      type: object
      description: OAuth 2.0 error response
      properties:
        error:
          type: string
          description: OAuth error code
          enum:
            - invalid_grant
            - invalid_client
            - invalid_request
            - unauthorized_client
        error_description:
          type: string
          description: Human-readable error description

    LegacySignInRequest:
      type: object
      required:
        - client_id
        - secret
        - username
        - password
      properties:
        client_id:
          type: string
          description: Your application's client identifier
        secret:
          type: string
          description: Your application's client secret
        username:
          type: string
          description: User's email or username
        password:
          type: string
          format: password
          description: User's password

    LegacyAuthResponse:
      type: object
      description: Legacy authentication response
      properties:
        auth_token:
          type: string
          description: Authentication token for legacy API calls
        user_id:
          type: string
          description: Authenticated user's ID

    Error:
      type: object
      description: Standard API error response
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        status:
          type: integer
          description: HTTP status code
